.footer
    position: relative
    background: #111827
    padding: 50px 0
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    gap: 35px
    user-select: none

    h2
        color: #FFF
        font-size: 24px
        font-weight: 600
        line-height: 24px
    h3
        color: #FFF
        font-size: 16px
        font-weight: 400
        line-height: 16px
    a
        color: #FFF
        font-size: 16px
        font-weight: 500
        line-height: 16px