.section-steps
    padding: 60px 0 60px
    position: relative
    background: $color-white
    display: block

    &__box
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 141px
        width: 100%
        height: 100%
        margin-top: 50px
        position: relative
        .line-mobile
            display: none

        hr
            position: absolute
            z-index: 0
            top: 24px
            right: 0
            width: 98%
            height: 2px
            background:#DCDFE8

        .item
            display: flex
            flex-direction: column
            gap: 50px
            max-width: 218px

            p
                color: #474040
                font-size: 20px
                font-weight: 300
                line-height: 28px
            svg
                position: relative
                z-index: 1
                circle
                    transition: all .2s ease-in-out
            
            &:hover
                svg
                    circle
                        fill: $-color-green-light



@media all and ( max-width: 768px )
    .section-steps
        padding: 40px 0

        &__box
            display: grid
            grid-template-columns: repeat(1, 1fr)
            gap: 80px
            margin-top: 40px

            .line-mobile
                position: absolute
                left: 49.8%
                top: 9%
                z-index: 0
                display: block

            hr
                display: none

            .item
                flex-direction: column-reverse
                gap: 20px
                max-width: 260px
                text-align: center
                align-items: center
                margin-inline: auto
                position: relative

                p
                    font-size: 18px
                    line-height: 22px