.section-services
    padding: 119px 0 90px
    position: relative
    background: $color-white

    &__box
        display: grid
        grid-template-columns: repeat(6, 1fr)
        gap: 30px
        height: 100%
        width: 100%
        margin-top: 50px

        .item
            position: relative
            border-radius: 20px
            padding: 50px
            display: flex
            flex-direction: column
            border: 1px solid $-color-green-light
            transition: all .3s ease-in-out
            grid-column: span 2

            &:hover
                transform: translateY(-10px)
                box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3)

            img
                width: 100px
                height: 100px
                object-fit: contain
                margin-bottom: 50px

            h3
                color: #474040
                font-size: 26px
                font-weight: 700
                line-height: 36px
                margin-bottom: 40px
            p
                color: #474040
                font-size: 16px
                font-weight: 400
                line-height: 24px

            &_big
                grid-column: span 3